.search-container {
  position: absolute;
  width: 1156px;
  height: 165px;
  left: calc(50% - 1156px / 2);
  top: 136px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #d9d9d9;
  border-radius: 10px;
  position: absolute;
  width: 1156px;
  height: 165px;
  left: 0;
  top: 0;
}

.search-input {
  width: 70%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}

.category-dropdown {
  width: 20%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  width: 10%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.dates {
  position: absolute;
  width: 257px;
  height: 46px;
  left: 725px;
  top: 174px;
  background: #ffffff;
  border-radius: 10px;
}

.departure-arrive {
  position: absolute;
  width: 530px;
  height: 46px;
  left: 171px;
  top: 174px;
  background: #ffffff;
  border-radius: 10px;
}

.conditions {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 486px;
  height: 19px;
  left: 171px;
  top: 244px;
}

.passengers-class {
  position: absolute;
  width: 257px;
  height: 46px;
  left: 1006px;
  top: 174px;
  background: #ffffff;
  border-radius: 10px;
}
