.boxes {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  width: 80%;
}

.box {
  position: relative;
  width: 380px;
  height: 380px;
  padding: 6em 1em 0 1em;
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: -1;
}

.box h1 {
  font-size: 6em;
  font-weight: bold;
  opacity: 0.4;
  color: #f8f697;
  position: absolute;
  top: 0.2em;
  left: 0.3em;
}

.h2 {
  font-size: 1.5em;
  padding-left: 1.2em;
  margin-bottom: 1em;
}

.box .small-text {
  font-size: 1em;
  margin: 0 0 1em 0;
}
