body {
}

.boxes1 {
  display: flex;
  justify-content: space-around;
  padding-top: 400px;
}

.box1 {
  position: relative;
  width: 1000px;
  height: 400px;
  padding: 40px;
  right: 10px;
  padding-top: 130px;
  padding-right: 50px;
  background-color: white;
  color: black;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.box1 h1 {
  font-size: 3.5em;
  bottom: 17rem;
  color: #f8f697;
  position: absolute;
  right: 680px;
  top: 1px;
}
