.main-container-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ticket-cart {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cart-item-box {
  position: relative;
  width: 350px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cart-item-box h1 {
  font-size: 1.5em;
  color: #f8f697;
  position: absolute;
  right: 15px;
  top: 10px;
}

.btn-pay {
  background-color: black;
  color: #fff;
  display: block;
  width: 120px;
  height: 40px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.total-amount {
  margin-right: 30px;
  font-size: 24px;
  color: #333;
}

.ticket-cart {
  font-size: 40px;
}
