.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 400px;
}

.checkout-page form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-page input[type='text'],
.checkout-page input[type='email'] {
  padding: 5px;
}

.checkout-page input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
