.landing-page {
  margin-bottom: -120px;
}
.top {
  background-image: url('/src/assets/LandingPage.png');
  position: relative;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: gray;
  z-index: 2;
  bottom: 300px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
}

.links-landing {
  display: flex;
  gap: 40px;
  margin-right: 20px;
  margin-top: 10px;
}
.search-section {
  margin-top: 250px;
  margin-right: 600px;
}
.links {
  font-family: 'Inter';
  font-style: normal;
  font-weight: /400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.button-landing {
  position: absolute;
  display: block;
  color: black;
  background-color: #f8f697;
  padding: 10px;
  top: 460px;
  left: 290px;
}
.title {
  position: absolute;
  width: 378px;
  height: 95px;
  left: 210px;
  top: 200px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 95px;

  color: #333333;
}
.desc {
  position: absolute;
  width: 552px;
  height: 64px;
  left: 130px;
  top: 345px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  color: #000000;
}
.boxes-landing {
  display: flex;
  justify-content: space-around;

  padding-left: 80px;
}

.box-landing {
  position: relative;
  width: 350px;
  height: 370px;
  padding: 30px;
  right: 50px;
  padding-right: 40px;
  background-color: white;
  color: black;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.box-landing h1 {
  font-size: 4em;
  bottom: 17rem;
  color: #f8f697;
  position: absolute;
  right: 25px;
}
.box1-landing {
  position: relative;
  width: 1000px;
  height: 420px;
  padding: 40px;
  right: 10px;
  padding-top: 100px;
  padding-right: 80px;
  background-color: white;
  color: black;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.box1-landing h1 {
  bottom: 17rem;
  color: #000000;
  position: absolute;
  right: 720px;
  bottom: 340px;
  left: 70px;
  font-size: 30px;
}
.boxes1-landing {
  display: block;
  justify-content: space-around;
  padding-top: 200px;
  padding-left: 200px;
  padding-bottom: 200px;
}
#reviews {
  margin-bottom: 100px;
  padding-top: 10px;
  background-color: rgb(162, 161, 161);
}
.review-h1 {
  color: black;
  font-size: 30px;
  margin-left: 100px;
}
.reviews-box {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 200px;
  height: 400px;
}
.review-box {
  padding: 20px;
  border: 1px solid #ccc;
  position: relative;
  width: 1000px;
  height: 300px;
  padding: 20px;
  right: 100px;
  padding-top: 10px;
  padding-right: 20px;
  background-color: white;
  color: black;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.star-rating {
  margin-left: 30px;
}
