/* Footer */
.footer {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 300px;
  left: calc(50% - 1440px / 2);
  bottom: 0px;
  background: #f8f697;
  border-top: 1px solid rgba(160, 160, 160, 0.3);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 144px;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 140px;
  height: 155px;
}

.about-title {
  width: 48px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* Frame 5 */
.frame5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 140px;
  height: 124px;
}

.frame5-item {
  width: 70px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* Support */
.support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 132px;
  height: 155px;
}

.support-title {
  width: 63px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* Frame 7 */
.frame7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 132px;
  height: 124px;
}

.frame7-item {
  width: 35px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* Contact Us */
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 104px;
  height: 55px;
}

.contact-us-title {
  width: 87px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* Frame 9 */
.frame9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  width: 104px;
  height: 24px;
}

.frame9-item {
  width: 24px;
  height: 24px;
  background: #000000;
}

/* Vector */
.vector {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #000000;
}

/* ri:instagram-line */
.instagram {
  width: 24px;
  height: 24px;
}

/* devicon:twitter */
.twitter {
  width: 24px;
  height: 24px;
}
