.navbar {
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 0px;
  background: url('../assets/Navbar-plane.png') center/cover no-repeat;
  width: 100vw;
}
.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}
.switchdark {
  margin-left: 800px;
  border-radius: 30px;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px;
}
.logo {
  text-decoration: none;
  color: black;
}
.navbar-logo {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.navbar-links {
  display: flex;
  gap: 65px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.navbar-links.active {
  display: flex;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  color: black;
}

.navbar-toggle span {
  display: block;
  width: 24px;
  height: 5px;
  background: black;
  margin: 10px 0;
}

.navbar-links.active {
  display: flex;
}
