.search-container {
  display: flex;
  flex-direction: column;
  /* background: rgba(112, 109, 109, 0.6); */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 5% 10em 5% 10em;
  width: 70vw;
  height: 15em;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input-wrapper {
  display: flex;
  gap: 10px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  width: 200px;
}

.date-picker-container {
  display: flex;
  gap: 10px;
  margin-left: 90px;
}

.react-date-picker .react-date-picker__wrapper {
  border: none;
}

.date {
  padding: 5px 10px;
  /* border: 1px solid #f3f3f3; */
  border-radius: 5px;
  height: 40px;
  background-color: #fff;
  color: #e1e1e1;
}

.additional-options {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  gap: 10px;
}

.category-and-button {
  display: flex;
  gap: 10px;
  align-items: center;
}

.category-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.label {
  color: black;
}
.search-button {
  padding: 10px 20px;
  background-color: #f8f697;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.no-results-message {
  margin-top: 10px;
}
