.search-container {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  background: rgba(112, 109, 109, 0.8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  top: 200px;
  width: 900px;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input-wrapper {
  display: flex;
  gap: 10px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex-grow: 1;
  width: 200px;
}

.date-picker-container {
  display: flex;
  gap: 10px;
  margin-left: 90px;
}

.date {
  padding: 5px;
  border: 1px solid #f3f3f3;
  border-radius: 2px;
  height: 40px;
  color: #e1e1e1;
}

.additional-options {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  gap: 10px;
}

.category-and-button {
  display: flex;
  gap: 10px;
  align-items: center;
}

.category-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.label {
  color: black;
}
.search-button {
  padding: 10px 20px;
  background-color: #f8f697;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.no-results-message {
  margin-top: 10px;
}
